<%= link_to category do %> 
  <div id="<%= dom_id category %>" class="relative flex flex-col items-center">
    <% if category.image.attached? %>
      <%= image_tag category.image, class: "w-30 h-30 object-cover rounded-lg hover:brightness-60 bg-white transition-all duration-250" %>
    <% else %>
      <%= image_tag "placeholder.jpg", class: "w-50 h-70 object-cover rounded-lg", alt: "No Image" %> 
      <p class="text-sm text-gray-500 mt-2">Imagem não disponível</p> 
    <% end %>
    <p class="text-lg text-blue-900 font-bold mt-2"><%= category.name %></p>
  </div>
<% end %>