<div class="mx-auto md:w-2/3 w-full mb-8 text-center">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <div class="relative flex flex-col items-center">
    <h1 class="custom-heading mb-10"><%= @category.name %></h1>
    <% if @category.image.attached? %>
      <%= image_tag(@category.image, class: "h-50 w-50 object-cover rounded-lg mb-2") %>
    <% end %>
  </div>

  <div class="text-xl font-bold">
    <% if @category.description? %>
      <%= @category.description %>
    <% else %> 
      <p class="text-gray-500">No description available</p>
    <% end %>
  </div>
  
  <% if current_admin %>
    <div class="flex justify-center flex-wrap items-center gap-4 mt-10">
      <%= link_to "Edit this category", edit_category_path(@category), class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-400 font-medium" %>
      <%= link_to "Back to categories", categories_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-400 font-medium" %>
      <%= button_to "Destroy this category", @category, method: :delete, class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-700 font-medium" %>
    </div>
  <% end %>
</div>
