<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="max-w-7xl w-full mx-auto px-10 mb-2"> 
    <%= link_to "Products", products_path, class: "text-xl text-blue-800 hover:text-blue-200" %>
    <% if @product.category.present? %>
      <%= link_to "> #{@product.category.name}", @product.category, class: "text-xl text-blue-800 hover:text-blue-200" %>
    <% else %>
      <%= link_to "> Uncategorized", uncategorized_products_path, class: "text-xl text-blue-800 hover:text-blue-200" %>
     <% end %>
    <%= link_to "> #{@product.name}", @product, class: "text-xl text-blue-600" %>
  </div>
  
  <div class="grid md:grid-cols-2">
    <div class="max-w-md w-full mx-auto shadow rounded-lg p-2"> 
      <% if @product.images.any? %>
        <%= image_tag @product.images.first, class: "w-auto h-auto object-cover mx-auto rounded-lg mt-8" %>
        <div class="grid grid-cols-3 gap-4 mt-4"> 
          <% @product.images[1..].each do |image| %>
            <%= image_tag image, class: "w-full h-32 object-cover" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="max-w-xl flex flex-col gap-4 mt-8"> 
      <h1 class="text-4xl font-bold text-indigo-900"> <%= @product.name %> </h1>
      <div class="text-gray-700 mr-20"> 
        <%= @product.description %>
      </div>
      <span class="bg-green-500 p-2 rounded-lg font-semibold text-lg text-green-50 mr-auto"> <%= number_to_currency @product.price %> </span>
      <div class="flex justify-between gap-8">
        <%= link_to "Buy Now", product_buy_now_path(@product), class: "rounded-lg p-3 font-semibold text-center text-xl bg-yellow-400 hover:bg-yellow-500 mr-auto w-full" %>
        <%= link_to "Add to Cart", carts_path(product_id: @product.id), class: "rounded-lg p-3 font-semibold text-center text-xl bg-gray-400 hover:bg-gray-500 mr-auto w-full",
              data: {turbo_method: 'post'} %>
      </div>
    </div>
  </div>

  <% if current_admin %>
    <div class="w-full flex justify-center items-center mt-16 mb-16 gap-4">
      <%= link_to "Edit this product", edit_product_path(@product), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Back to products", products_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= button_to "Destroy this product", @product, method: :delete, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  <% end %>
</div>